<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/First</property>
<!--        <property name="hibernate.connection.username">postgres</property>-->
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">16102005</property>
<!--        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>-->
        <property name="hibernate.hbm2ddl.auto">update</property>
<!--        it is used to view the query which is running behind the scenes -->
        <property name="hibernate.show_sql">true</property>
<!--        <property name="hibernate.format_sql">true</property>-->

        <mapping class="org.example.Customer"/>
        <mapping class="org.example.Account"/>
<!--        <mapping class="org.example.Branch"/>-->
        <mapping class="org.example.CardATM"/>
        <mapping class="org.example.Transaction"/>

    </session-factory>
</hibernate-configuration>

